.nav {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: monospace;
}

.nav-icon {
    border-radius: 50%;
}

.nav:hover {
    color: #3182CE;
    cursor: pointer;
    font-weight: bold;
}

.intro {
    /* height: 100vh; */
    padding: 5%;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: monospace;
}

.intro-text h1 {
    font-size: 5rem;
    color: #3182CE;
}

.intro-text h2 {
    font-size: 3rem;
}

.intro-text p {
    font-size: 2rem;
    line-height: normal;
    padding-bottom: 2%;
}

.intro-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

